.dnd{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 5px;
    transition: border .3s ease;
    padding: 5px;
}

.activity-title{
    height: 4rem;
}

.droppable{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.draggable{

}

.droppable-title{
    text-align: center;
    margin-bottom: 10px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}


/*---------- MD breakpoint ------------*/
@media (max-width: 768px) {
    .mt-xs-1 {
        margin-top: 1rem;
    }
}