.toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle {
    display: none; /* Hide the actual checkbox */
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ff3e3e;
    border-radius: 25px;
}

.toggle:checked + .toggle-switch {
    background-color: #66bb6a; /* Change background color when checked */
}

.toggle-switch:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
    border: black 1px solid;
}

.toggle:checked + .toggle-switch:before {
    transform: translateX(-25px);
}