.dnd{
    max-width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 5px;
    transition: border .3s ease;
    padding: 0;
    margin: 10px;
}

.card{
    margin: 1rem;
    width: 250px;
}
.droppable{
    min-height: 200px;
    min-width: 100px;
}

.draggable{
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.trash-bin{
    border: 2px dashed red;
    border-radius: 5px;
    transition: border .3s ease;
    width: fit-content;
}

.container-btn {
    width: 30px; /* Adjust button size */
    height: 30px; /* Adjust button size */
    border-radius: 50%;
    border: #28a745 solid 3px;
    background-color: #28a745;
    cursor: pointer;
    position: relative;
    /*move to top of parent*/

    span {
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        font-weight: bolder; /* Adjust icon size */
        color: white; /* Adjust icon color */
    }

    /*remove black border when clicked*/
    &:focus {
        outline: none;
    }

    &:hover{
        background-color: white;
        span{
            color: #28a745;
        }
    }
}

.container-btn.remove{
    width: 20px;
    height: 20px;
    border: #dc3545 solid 3px;
    background-color: #dc3545;

    &:hover{
        background-color: white;
        span{
            color: #dc3545;
        }
    }

}

/*---------- MD breakpoint ------------*/
@media (max-width: 768px) {
    .mt-xs-1 {
        margin-top: 1rem;
    }
}